In [1]:
from preamble import *

In [2]:
#------------------------------------------------------------#
MaxIntFilter = 64 #knots
#------------------------------------------------------------#

In [3]:
# Load the ibtracs dataset
dataset = pd.read_csv('Data/IBTrACS/data_ibtracs_JTWC.csv')

# Apply VMAX corrections
dataset['A_VMAX'] = 0.1884 * dataset['VMAX']**1.288
dataset['VMAX2'] = 0
dataset.loc[dataset['YEAR'] < 1968, 'VMAX2'] = 0.4 * dataset['VMAX'] + 0.6 * dataset['A_VMAX']
dataset.loc[dataset['YEAR'].between(1968,1972), 'VMAX2'] = 0.8 * dataset['VMAX'] + 0.2 * dataset['A_VMAX']
dataset.loc[dataset['YEAR'] > 1972, 'VMAX2'] = dataset['VMAX']
dataset = dataset.drop(['VMAX','A_VMAX'], axis=1)
dataset = dataset.rename(columns={'VMAX2': 'VMAX'})

In [4]:
# Determine maximum intensity of the each cyclone
max_int = dataset.groupby('CycNo')['VMAX'].max().rename('VMAX').reset_index()

# Remove cyclones with maximum intensity lower than defined
max_int = max_int[max_int['VMAX'] > MaxIntFilter]
dataset = dataset[dataset['CycNo'].isin(max_int['CycNo'])]

In [5]:
dataset['CycNo'].nunique()

938

In [6]:
dataset.columns

Index(['BASIN', 'CycNo', 'DIST2LAND', 'GENESIS', 'LANDFALL', 'LAT', 'LON',
       'S_TIME', 'YEAR', 'VMAX'],
      dtype='object')

In [34]:
def influence(data):
    peak_time = data['S_TIME'][data['VMAX'].idxmax()]
    try:
        landfall_time = data[data['DIST2LAND'] == 0].iloc[0]['S_TIME']
        if landfall_time <= peak_time:
            return True
        else:
            return False
    except:
        return False

In [35]:
effect_data = dataset.groupby('CycNo').apply(influence)

In [38]:
effect_data.reset_index()

       CycNo      0
0     5453.0  False
1     5459.0  False
2     5468.0  False
3     5481.0  False
4     5490.0  False
5     5495.0   True
6     5504.0  False
7     5506.0   True
8     5511.0  False
9     5517.0  False
10    5518.0  False
11    5521.0  False
12    5527.0  False
13    5530.0  False
14    5563.0  False
15    5568.0  False
16    5575.0  False
17    5583.0  False
18    5598.0  False
19    5609.0  False
20    5617.0  False
21    5620.0  False
22    5621.0  False
23    5623.0  False
24    5624.0   True
25    5636.0   True
26    5639.0  False
27    5649.0  False
28    5664.0  False
29    5668.0  False
..       ...    ...
908  12025.0  False
909  12035.0  False
910  12045.0  False
911  12049.0  False
912  12050.0  False
913  12078.0  False
914  12104.0   True
915  12105.0  False
916  12108.0   True
917  12119.0  False
918  12125.0  False
919  12132.0  False
920  12137.0  False
921  12147.0  False
922  12148.0  False
923  12151.0   True
924  12154.0  False
925  12157.0  False
926  12161.0  False
927  12165.0  False
928  12172.0  False
929  12214.0   True
930  12216.0   True
931  12224.0  False
932  12229.0  False
933  12236.0  False
934  12239.0  False
935  12241.0  False
936  12250.0  False
937  12253.0  False

[938 rows x 2 columns]

In [36]:
len(effect_data[effect_data == True])

110

In [18]:
test_set = dataset[dataset['CycNo']==10890]

In [19]:
test_set

,BASIN,CycNo,DIST2LAND,GENESIS,LANDFALL,LAT,LON,S_TIME,YEAR,VMAX
40193,2.0,10890.0,511.0,2.0,476.0,16.900000,114.999997,50679.50,1997.0,25.000000
40194,2.0,10890.0,476.0,2.0,393.0,17.500000,115.499997,50679.75,1997.0,25.000000
40195,2.0,10890.0,389.0,2.0,319.0,18.100000,116.399997,50680.00,1997.0,30.000000
40196,2.0,10890.0,322.0,2.0,322.0,18.700000,117.299997,50680.25,1997.0,30.000000
40197,2.0,10890.0,353.0,2.0,353.0,19.100000,117.199997,50680.50,1997.0,35.000001
40198,2.0,10890.0,400.0,2.0,334.0,19.600000,116.699997,50680.75,1997.0,35.000001
40199,2.0,10890.0,334.0,2.0,266.0,20.000000,115.499997,50681.00,1997.0,40.000001
40200,2.0,10890.0,266.0,2.0,214.0,20.100000,114.299997,50681.25,1997.0,45.000001
40201,2.0,10890.0,214.0,2.0,156.0,20.100000,113.199997,50681.50,1997.0,50.000001
40202,2.0,10890.0,160.0,2.0,68.0,20.100000,112.299997,50681.75,1997.0,55.000001
40203,2.0,10890.0,68.0,2.0,0.0,20.500000,111.399998,50682.00,1997.0,65.000001
40204,2.0,10890.0,0.0,2.0,0.0,21.000000,110.099998,50682.25,1997.0,75.000001
40205,2.0,10890.0,53.0,2.0,22.0,21.300000,108.799998,50682.50,1997.0,75.000001
40206,2.0,10890.0,22.0,2.0,0.0,21.300000,107.799998,50682.75,1997.0,75.000001
40207,2.0,10890.0,0.0,2.0,0.0,21.200000,106.799998,50683.00,1997.0,75.000001
40208,2.0,10890.0,0.0,2.0,0.0,21.200000,105.599998,50683.25,1997.0,55.000001
40209,2.0,10890.0,0.0,2.0,0.0,22.000000,104.399998,50683.50,1997.0,30.000000
40210,2.0,10890.0,0.0,2.0,0.0,22.799999,102.899998,50683.75,1997.0,25.000000

In [20]:
test_set['S_TIME'][test_set['VMAX'].idxmax()]

50682.25

In [26]:
test_set[test_set['DIST2LAND'] == 0].iloc[0]['S_TIME']

50682.25

In [15]:
np.unique(dataset[dataset['LANDFALL']==0]['CycNo'])

array([  5459.,   5468.,   5481.,   5490.,   5495.,   5504.,   5506.,
         5511.,   5521.,   5527.,   5563.,   5568.,   5575.,   5583.,
         5609.,   5617.,   5624.,   5636.,   5649.,   5664.,   5668.,
         5675.,   5679.,   5684.,   5693.,   5697.,   5712.,   5715.,
         5743.,   5767.,   5769.,   5774.,   5780.,   5784.,   5800.,
         5810.,   5813.,   5818.,   5852.,   5866.,   5892.,   5893.,
         5897.,   5908.,   5915.,   5959.,   5984.,   5994.,   6000.,
         6002.,   6003.,   6013.,   6014.,   6015.,   6021.,   6028.,
         6038.,   6070.,   6074.,   6078.,   6084.,   6090.,   6094.,
         6102.,   6118.,   6178.,   6179.,   6195.,   6199.,   6207.,
         6212.,   6229.,   6290.,   6298.,   6303.,   6307.,   6310.,
         6314.,   6323.,   6325.,   6347.,   6352.,   6354.,   6385.,
         6393.,   6396.,   6399.,   6402.,   6411.,   6432.,   6493.,
         6522.,   6524.,   6536.,   6543.,   6545.,   6554.,   6558.,
         6638.,   6645.,   6648.,   6652.,   6666.,   6681.,   6684.,
         6747.,   6755.,   6757.,   6761.,   6765.,   6773.,   6775.,
         6857.,   6864.,   6870.,   6872.,   6879.,   6892.,   6894.,
         6899.,   6903.,   6911.,   6928.,   6937.,   6985.,   6991.,
         7000.,   7006.,   7007.,   7016.,   7017.,   7030.,   7033.,
         7034.,   7094.,   7096.,   7105.,   7112.,   7120.,   7123.,
         7128.,   7129.,   7138.,   7148.,   7190.,   7210.,   7219.,
         7237.,   7272.,   7311.,   7314.,   7321.,   7324.,   7325.,
         7382.,   7418.,   7429.,   7433.,   7459.,   7460.,   7510.,
         7513.,   7521.,   7526.,   7551.,   7610.,   7637.,   7665.,
         7668.,   7676.,   7691.,   7712.,   7714.,   7727.,   7775.,
         7781.,   7786.,   7791.,   7792.,   7800.,   7802.,   7807.,
         7810.,   7816.,   7826.,   7842.,   7851.,   7854.,   7859.,
         7868.,   7896.,   7935.,   7938.,   7939.,   7944.,   7957.,
         7972.,   7976.,   7978.,   7987.,   8003.,   8014.,   8077.,
         8082.,   8083.,   8086.,   8095.,   8096.,   8109.,   8114.,
         8125.,   8126.,   8128.,   8131.,   8194.,   8204.,   8213.,
         8226.,   8240.,   8247.,   8267.,   8269.,   8273.,   8275.,
         8280.,   8284.,   8305.,   8356.,   8362.,   8363.,   8364.,
         8389.,   8390.,   8402.,   8403.,   8477.,   8487.,   8493.,
         8497.,   8505.,   8527.,   8534.,   8535.,   8612.,   8614.,
         8617.,   8639.,   8664.,   8674.,   8707.,   8724.,   8729.,
         8736.,   8743.,   8763.,   8770.,   8784.,   8833.,   8848.,
         8859.,   8866.,   8869.,   8886.,   8891.,   8895.,   8897.,
         8904.,   8965.,   8970.,   8983.,   8988.,   8993.,   8995.,
         9009.,   9069.,   9070.,   9072.,   9084.,   9098.,   9110.,
         9132.,   9134.,   9146.,   9169.,   9197.,   9198.,   9202.,
         9204.,   9207.,   9208.,   9214.,   9215.,   9220.,   9232.,
         9245.,   9247.,   9279.,   9281.,   9285.,   9290.,   9302.,
         9308.,   9317.,   9323.,   9334.,   9388.,   9395.,   9414.,
         9448.,   9507.,   9509.,   9518.,   9525.,   9531.,   9532.,
         9538.,   9540.,   9559.,   9562.,   9565.,   9568.,   9626.,
         9632.,   9649.,   9652.,   9661.,   9671.,   9687.,   9690.,
         9732.,   9733.,   9736.,   9742.,   9743.,   9758.,   9777.,
         9780.,   9787.,   9792.,   9798.,   9816.,   9828.,   9886.,
         9890.,   9892.,   9894.,   9942.,   9943.,   9946.,   9959.,
         9968.,   9973.,   9977.,   9997.,  10002.,  10008.,  10010.,
        10013.,  10015.,  10023.,  10060.,  10071.,  10073.,  10093.,
        10095.,  10099.,  10102.,  10105.,  10109.,  10113.,  10114.,
        10119.,  10125.,  10142.,  10143.,  10146.,  10180.,  10187.,
        10190.,  10191.,  10199.,  10201.,  10203.,  10214.,  10217.,
        10220.,  10232.,  10291.,  10292.,  10298.,  10304.,  10311.,
        10312.,  10314.,  10323.,  10328.,  10336.,  10358.,  10361.,
        10416.,  10421.,  10426.,  10428.,  10435.,  10438.,  10444.,
        10448.,  10451.,  10453.,  10457.,  10465.,  10473.,  10475.,
        10477.,  10480.,  10510.,  10525.,  10529.,  10540.,  10542.,
        10548.,  10551.,  10566.,  10578.,  10582.,  10594.,  10630.,
        10635.,  10639.,  10646.,  10652.,  10660.,  10665.,  10668.,
        10674.,  10680.,  10681.,  10682.,  10744.,  10745.,  10746.,
        10747.,  10752.,  10757.,  10769.,  10778.,  10787.,  10861.,
        10862.,  10872.,  10878.,  10880.,  10884.,  10889.,  10890.,
        10896.,  10904.,  10915.,  10920.,  10927.,  10977.,  10994.,
        10996.,  10998.,  11004.,  11015.,  11019.,  11034.,  11072.,
        11073.,  11076.,  11093.,  11105.,  11118.,  11124.,  11127.,
        11187.,  11188.,  11199.,  11211.,  11217.,  11221.,  11223.,
        11245.,  11249.,  11286.,  11289.,  11290.,  11298.,  11299.,
        11304.,  11315.,  11318.,  11327.,  11350.,  11364.,  11395.,
        11397.,  11398.,  11400.,  11420.,  11423.,  11441.,  11488.,
        11509.,  11510.,  11516.,  11517.,  11521.,  11529.,  11532.,
        11557.,  11560.,  11592.,  11597.,  11598.,  11601.,  11602.,
        11609.,  11617.,  11622.,  11623.,  11624.,  11630.,  11645.,
        11648.,  11653.,  11656.,  11661.,  11666.,  11695.,  11714.,
        11722.,  11726.,  11731.,  11735.,  11738.,  11740.,  11754.,
        11757.,  11774.,  11777.,  11811.,  11816.,  11822.,  11827.,
        11832.,  11850.,  11862.,  11873.,  11876.,  11881.,  11884.,
        11919.,  11924.,  11929.,  11932.,  11935.,  11941.,  11944.,
        11955.,  11956.,  11966.,  11972.,  11973.,  12000.,  12006.,
        12013.,  12019.,  12025.,  12035.,  12045.,  12049.,  12050.,
        12104.,  12105.,  12108.,  12119.,  12125.,  12147.,  12151.,
        12154.,  12157.,  12165.,  12214.,  12216.,  12224.,  12229.,
        12236.,  12239.,  12250.])