In [1]:
import pandas as pd

In [10]:
ds = pd.read_csv('raw-data_best.csv',names=['year',1,2,3,4,5,6,7,8,9,10,11,12],na_values=-9.99,index_col='year')
ds = ds.unstack().reset_index()
ds.columns = ['month','year','nino4_temp']

In [11]:
ds

     month  year  nino4_temp
0        1  1948        0.26
1        1  1949        0.18
2        1  1950       -0.74
3        1  1951       -1.13
4        1  1952        0.64
5        1  1953        0.18
6        1  1954        0.00
7        1  1955       -0.01
8        1  1956       -1.10
9        1  1957       -0.44
10       1  1958        1.67
11       1  1959        0.68
12       1  1960        0.07
13       1  1961        0.15
14       1  1962       -0.83
15       1  1963       -0.47
16       1  1964        0.67
17       1  1965       -0.03
18       1  1966        1.22
19       1  1967       -0.91
20       1  1968       -0.47
21       1  1969        1.11
22       1  1970        0.87
23       1  1971       -0.83
24       1  1972       -0.41
25       1  1973        1.06
26       1  1974       -1.96
27       1  1975        0.11
28       1  1976       -1.42
29       1  1977        0.65
..     ...   ...         ...
810     12  1988       -1.47
811     12  1989        0.27
812     12  1990        0.40
813     12  1991        1.82
814     12  1992        0.41
815     12  1993        0.12
816     12  1994        1.33
817     12  1995        0.01
818     12  1996       -0.48
819     12  1997        1.74
820     12  1998       -1.52
821     12  1999       -1.49
822     12  2000       -0.78
823     12  2001        0.41
824     12  2002        1.48
825     12  2003       -0.28
826     12  2004        0.95
827     12  2005       -0.20
828     12  2006        0.90
829     12  2007       -1.60
830     12  2008       -1.07
831     12  2009        1.73
832     12  2010       -2.99
833     12  2011       -2.37
834     12  2012        0.46
835     12  2013       -0.01
836     12  2014        0.87
837     12  2015        1.91
838     12  2016       -0.39
839     12  2017         NaN

[840 rows x 3 columns]